@font-face {
  font-family: 'ITC Avant';
  src: url('../../assets/fonts/ITC-Avant-Garde-Gothic-Std/ITCAvantGardeStd-XLt.otf');
  font-weight: lighter;
}
@font-face {
  font-family: 'ITC Avant';
  src: url('../../assets/fonts/ITC-Avant-Garde-Gothic-Std/ITCAvantGardeStd-Md.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'ITC Avant';
  src: url('../../assets/fonts/ITC-Avant-Garde-Gothic-Std/ITCAvantGardeStd-BoldObl.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'ITC Avant';
  src: url('../../assets/fonts/ITC-Avant-Garde-Gothic-Std/ITCAvantGardeStd-DemiObl.otf');
  font-weight: 500;
  font-style: italic;
}


