$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

$border-frame: #dedede;
$blue: #2f457c;
$pink: #e87d9f;
$pink-border: #b02e62;

$pink-bold: #ff419c;
$pink-bolder: #ce2894;
$light-blue: #00acde;
$navy-blue: #2f457c;
$orange: #ff7f31;
$blueblue: #68a7db;
