footer {
  position: relative;

  &::before {
    z-index: 200;
  }

  .copyright {
    background-color: #1d467d;
    color: white;
    text-align: center;
    font-size: 0.9em;
    height: 30px;
    line-height: 30px;
    width: 100%;
    margin: 0;
    padding: 0;

    a.privacity {
      color: #FFF;
      text-decoration: none;

      &:hover {
        color: #d25c30;
        text-decoration: underline;
      }
    }

    .klein {
      color: #FFF;
      text-decoration: none;

      &:hover {
        color: #d25c30;
        font-weight: bold;
      }
    }
  }

  .city {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 0;
    right: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
