<div class="row">
  <div class="col-sm-3 col-sm-offset-8 user-info">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="user-welcome clearfix">
          <span class="left">¡Hola Cecillia!</span> <span class="right"><a href="#" class="sesion">Cerrar Sesión</a></span>
        </div>

        <div class="user-score">
          Aún no tienes puntaje acumulado
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1 questions clearfix">
    <a href="#"><i class="contact"></i></a>
  </div>
</div>

<h1 class="main-title">
  ¿Te has preguntado <span class="right">qué va ser tu hijo de grande?</span>
</h1>

<div class="row">
  <div class="col-sm-offset-1 col-sm-5">
    <div class="block clearfix">
      <div class="left">
        <div class="icons-sprites">
          <img class="base img-1" src="/images/personalities/sprites1.png" alt="Icons" />
        </div>
      </div>

      <div class="right">
        Debe tener buen uso verbal y del lenguaje.
        Es creativo, tiene la habilidad para dibujar,gusto por la lectura e interés musical.
      </div>
    </div>

    <div class="block clearfix">
      <div class="left">
        <div class="icons-sprites">
          <img class="base img-2" src="/images/personalities/sprites1.png" alt="Icons" />
        </div>
      </div>

      <div class="right">
        Debe tener interés por descubrir e inovar,
        procura el bienestar de los demás y
        tiene gusto por la naturaleza.
      </div>
    </div>

    <div class="block clearfix">
      <div class="left">
        <div class="icons-sprites">
          <img class="base img-3" src="/images/personalities/sprites1.png" alt="Icons" />
        </div>
      </div>

      <div class="right">
        Debe tener fuerza, habilidad para correr,
        Poder lanzar objetos a cortas, medianas
        o grandes distancias.
      </div>
    </div>
  </div>

  <div class="col-sm-5 col-sm-offset-1">
    <div class="block clearfix">
      <div class="left">
        <div class="icons-sprites">
          <img class="base img-1" src="/images/personalities/sprites2.png" alt="Icons" />
        </div>
      </div>

      <div class="right">
        Debe tener gustos por los números, creatividad
        para resolver problemas concretos, creatividad
        y curiosidad para entender como funcionan
        máquinas, herramientas u objetos tecnológicos.
      </div>
    </div>

    <div class="block clearfix">
      <div class="left">
        <div class="icons-sprites">
          <img class="base img-2" src="/images/personalities/sprites2.png" alt="Icons" />
        </div>
      </div>

      <div class="right">
        Debe tener fluidez en el uso del lenguaje, interés
        por la comunicación, capacidad de expresar
        para persuadir, tener iniciativa, liderazgo,
        memoria y tener cuidado por los demás.
      </div>
    </div>

    <div class="block clearfix">
      <div class="left">
        <div class="icons-sprites">
          <img class="base img-3" src="/images/personalities/sprites2.png" alt="Icons" />
        </div>
      </div>
      <div class="right">
        Debe tener entendimiento, gusto por los números
        y cierto orden para resolver situaciones.
      </div>
    </div>
  </div>
</div>

<div class="midle-text">
  <p>Tu hijo tiene un mundo de posibilidades. Alimenta su increible poder de aprender hoy con efagrow e impulsa su brillante futuro.</p>

  <h2 class="play-instructions">Instrucciones de juego</h2>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-2 list">
    <div class="item clearfix">
      <div class="left">
        <div class="numbers-sprites">
          <img class="base img-1" src="/images/personalities/numbers-sprite.png" alt="Icons" />
        </div>
      </div>

      <div class="right">
        Da click sobre los grupos de bloques que correspondan a la misma personalidad.
      </div>
    </div>

    <div class="item clearfix">
      <div class="left">
        <div class="numbers-sprites">
          <img class="base img-2" src="/images/personalities/numbers-sprite.png" alt="Icons" />
        </div>
      </div>

      <div class="right">
        Cada bloque que juntes te acumulará puntos. Acumula cuantos puntos puedas para calificar como finalista.
      </div>
    </div>

    <div class="item clearfix">
      <div class="left">
        <div class="numbers-sprites">
          <img class="base img-3" src="/images/personalities/numbers-sprite.png" alt="Icons" />
        </div>
      </div>

      <div class="right">
        Los 5 mejores puntajes de cada semana, obtendrán un premio semanal de $10,000.
      </div>
    </div>

    <div class="item clearfix">
      <div class="left">
        <div class="numbers-sprites">
          <img class="base img-4" src="/images/personalities/numbers-sprite.png" alt="Icons" />
        </div>
      </div>

      <div class="right">
        Los 5 mejores puntajes acumulados hasta la vigencia de la promoción, obtendrán los premios de $100,000.
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-sm-offset-2 buttons clearfix">
    <div class="left">
      <a href="#"><i class="consult"></i></a>
    </div>

    <div class="right">
      <a href="#"><i class="star"></i></a>
    </div>
  </div>

  <div class="col-sm-2 col-sm-offset-4 play-button">
    <a href="#"><i class="play"></i></a>
  </div>
</div>
