{{> user-info }}

<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <h1 class="main-title">{{{ __.rules.title }}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <div class="rules-text">
      <p>1. Cada ticket representa una oportunidad para jugar. Entre más tickets registres, más veces podrás jugar.</p>
      <p>2. Cada vez que juegues tendrás un tope de puntos posibles a alcanzar, de acuerdo a la presentación que registres como se muestra a continuación.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <div class="milk clearfix">
      <div class="left">
        <p>Enfagrow</p>
        <p>Premium 3</p>
        <p>400 g</p>
        <i class="botle1"></i>
        <p>Acumula hasta</p>
        <p>1,000 puntos</p>
      </div>

      <div class="left">
        <p>Enfagrow </p>
        <p>Premium 3 Six Pack</p>
        <p>1,200 mL</p>
        <i class="botle2"></i>
        <p>Acumula hasta</p>
        <p>1,000 puntos</p>
      </div>

      <div class="left">
        <p>Enfagrow </p>
        <p>Premium 3 ó 4 </p>
        <p>600 g</p>
        <i class="botle3"></i>
        <p>Acumula hasta</p>
        <p>2,000 puntos</p>
      </div>

      <div class="left">
        <p>Enfagrow </p>
        <p>Premium 3</p>
        <p>800 g</p>
        <i class="botle4"></i>
        <p>Acumula hasta</p>
        <p>3,000 puntos</p>
      </div>

      <div class="left">
        <p>Enfagrow</p>
        <p>Premium 3 ó 4</p>
        <p>12,000 g</p>
        <i class="botle5"></i>
        <p>Acumula hasta</p>
        <p>4,000 puntos</p>
      </div>

      <div class="left special-text">
        <p>Enfagrow</p>
        <p>Premium 3 ó 4
        <p>
          <span>mayor a</span> <span class="count">1,200 g</span>
        </p>
        <p>Enfagrow</p>
        <p>Premium 3</p>
        <p class="text-bronw">
          <span>mayor a</span> 1,200 mL
        </p>

        <div class="specialenfagrow">
          <span class="special-text2">Acumula hasta</span>
          <span class="special-text2">3,000 puntos</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-sm-offset-2 buttons clearfix">
    <div class="left">
      <a href="#"><i class="consult"></i></a>
    </div>

    <div class="right">
      <a href="#"><i class="star"></i></a>
    </div>
  </div>

  <div class="col-sm-5 col-sm-offset-2 register-ticket">
    <a href="#"><i class="ticket-buttom"></i></a>
  </div>
</div>
