<footer>
    <p>
      <a href="http://www.enfabebe.com/es/aviso-de-privacidad" class="privacity">Aviso de Privacidad.</a> Mead-Johnson 2015 &copy;. Enfagrow y otras submarcas pertenecen a Mead-Johnson. Powered by <a href="http://kleinundgross.net/" class="klein">Klein und Gross.</a>
    </p>

    <div class="city">
      <img src="/images/general/city.png" alt="City" />
    </div>
</footer>

{{> scripts/analytics }}

